<h2>{{model.question.content}}</h2>
<h3>Asked By: {{model.question.author}}</h3>
<h4>Notes: {{model.question.notes}}</h4>
<h4>Category: {{model.question.category.name}}</h4>
<h5><span class="date">({{moment-from-now model.question.time}})</span></h5>
<h3>Answers</h3>
<ol>
  {{#each sortedAnswers as |answer|}}
  <li>{{answer.content}} - <span class="grey">Submitted by: {{answer.author}} ({{moment-from-now answer.time}})</span></li>
  {{/each}}
</ol>

<button class="btn btn-danger" {{action 'delete' model.question}}>Delete Question</button>
