<h2>{{question.content}}</h2>
<h3>Asked By: {{question.author}}</h3>
<h4>Notes: {{question.notes}}</h4>
<h4>Category: {{question.category.name}}</h4>

<h3>Answers</h3>
<ol>
  {{#each sortedAnswers as |answer|}}
  <li>{{answer.content}} - <span class="grey">Submitted by: {{answer.author}} ({{moment-from-now answer.time}})</span></li>
  {{/each}}
</ol>

<button class="btn btn-danger" {{action 'delete' question}}>Delete Question</button>
