{{#if updateQuestionForm}}
  <h4>Update this question</h4>
    <div>
      <form>
        <div class="form-group">
          <label for="content">Question</label>
          {{input value=content id="content" value=question.content}}
        </div>

        <div class="form-group">
          <label for="author">Author</label>
          {{input value=author id="author" value=question.author}}
        </div>

        <div class="form-group">
          <label for="notes">Notes</label>
          {{input value=notes id="notes" value=question.notes}}
        </div>

        <button class="btn btn-success" {{action 'update' question}}>Update</button>
      </form>
    </div>
{{else}}
    <button class="btn btn-info" {{action 'updateQuestionForm'}}>Update Question</button>
{{/if}}
