{{#if updateQuestionForm}}
  <h4>Update this question</h4>
    <div>
      <form>
        <div class="form-group">
          <label for="content">Question</label>
          {{textarea rows="3" cols="80" value=content id="content" value=model.question.content}}
        </div>

        <div class="form-group">
          <label for="author">Author</label>
          {{textarea cols="80" value=author id="author" value=model.question.author}}
        </div>

        <div class="form-group">
          <label for="notes">Notes</label>
          {{textarea rows="2" cols="80" value=notes id="notes" value=model.question.notes}}
        </div>

        <button class="btn btn-success" {{action 'update' model.question}}>Update</button>
      </form>
    </div>
{{else}}
    <button class="btn btn-info" {{action 'updateQuestionForm'}}>Update Question</button>
{{/if}}
